<!--#page:template_top_html-->
<h2>HTTP Server Configuration</h2>
<form action="" method="post">

	<h3>Idle Timeout</h3>
	<div class="inputBlock">
		<div class="input">
			<div class="m">
				<input type="text" name="nvs:HTTP Server:u32:idleTimeout" value="<!--#nvs:HTTP Server:u32:idleTimeout-->" >
			</div>
			<div class="r">Seconds</div>
		</div>
		<p class="info">
			How long to wait before disabling the HTTP server.<br>
			With the HTTP server disabled, WiFi can also go to sleep.<br>
			0 = Keep MQTT connected even when its not being used.
			Device must be rebooted when this value is changed from 0.
		</p>
	</div>

<button>Save Settings</button>
</form>
<!--#page:template_bottom_html-->