<!--#page:template_top_html-->
<h2>WiFi Configuration</h2>
<form action="" method="post">

<h3>SSID</h3>
<div class="inputBlock">
	<div class="input">
		<input type="text" name="nvs:BeelineNVS:string:wifiSSID" value="<!--#nvs:BeelineNVS:string:wifiSSID-->" >
	</div>
</div>


<h3>Key / Password</h3>
<div class="inputBlock">
	<div class="input">
		<input type="password" name="nvs:BeelineNVS:string:wifiPassword" value="<!--#nvs:BeelineNVS:string:wifiPassword-->" >
	</div>
</div>

<h3>Idle</h3>
<div class="inputBlock">

	<input name="nvs:BeelineNVS:bit:idleDisable:0" type="hidden" id="_idleDisable0" value="<!--#nvs:BeelineNVS:bit:idleDisable:0-->">
	<input type="checkbox" id="idleDisable0" for="_idleDisable0" onchange="checkboxChange(this)" <!--#nvs:BeelineNVS:checked:idleDisable:0--> >
	<label for="_idleDisable0">Disable when not used</label><br>
</div>

<h3>Message Routing</h3>
<div class="inputBlock">
	<input name="nvs:BeelineNVS:bit:WiFiInRt:0" type="hidden" id="_WiFi0" value="<!--#nvs:BeelineNVS:bit:WiFiInRt:0-->">
	<input type="checkbox" id="WiFi0" for="_WiFi0" onchange="checkboxChange(this)" <!--#nvs:BeelineNVS:checked:WiFiInRt:0--> >
	<label for="_WiFi0">Forward to LoRa</label><br>

	<input name="nvs:BeelineNVS:bit:WiFiInRt:1" type="hidden" id="_WiFi1" value="<!--#nvs:BeelineNVS:bit:WiFiInRt:1-->">
	<input type="checkbox" id="WiFi1" for="_WiFi1" onchange="checkboxChange(this)" <!--#nvs:BeelineNVS:checked:WiFiInRt:1--> >
	<label for="_WiFi1">Forward to MQTT</label><br>

	<input name="nvs:BeelineNVS:bit:WiFiInRt:2" type="hidden" id="_WiFi2" value="<!--#nvs:BeelineNVS:bit:WiFiInRt:2-->">
	<input type="checkbox" id="WiFi2" for="_WiFi2" onchange="checkboxChange(this)" <!--#nvs:BeelineNVS:checked:WiFiInRt:2--> >
	<label for="_WiFi2">Forward to Elasticsearch</label><br>

	<input name="nvs:BeelineNVS:bit:WiFiInRt:3" type="hidden" id="_WiFi3" value="<!--#nvs:BeelineNVS:bit:WiFiInRt:3-->">
	<input type="checkbox" id="WiFi3" for="_WiFi3" onchange="checkboxChange(this)" <!--#nvs:BeelineNVS:checked:WiFiInRt:3--> >
	<label for="_WiFi3">Forward to Display</label><br>
</div>

<button>Save Settings</button>
</form>
<!--#page:template_bottom_html-->