<!--#page:template_top_html-->
<h2>Die Hall Effect Sensor</h2>
<form action="" method="post">

	<h3>Wake Timer Multiply</h3>
	<div class="inputBlock">
		<div class="input">
			<input type="number" name="nvs:Die Hall:u32:timerCount" value="<!--#nvs:Die Hall:u32:timerCount-->" >
		</div>
		<p class="info">The amount of times the wake timer event fires before this event is fired.</p>
	</div>

	<h3>Message Routing</h3>
	<div class="inputBlock">
		<!--#components:routing:Die Hall-->
	</div>

	<button>Save Settings</button>
</form>
<!--#page:template_bottom_html-->