<!--#page:template_top_html-->
<h2>ADC Configuration</h2>

<h3>Select Channel</h3>
<div class="inputBlock">
	<div class="input">
		<form >
			<select onchange="location.href = this.value">
				<option> ~ Select Channel to Configure ~ </option>
				<option value="/adc0_config.html" >ADC0 (<!--#nvs:ADC:string:adc0Name-->)</option>
				<option value="/adc1_config.html" >ADC1 (<!--#nvs:ADC:string:adc1Name-->)</option>
				<option value="/adc2_config.html" >ADC2 (<!--#nvs:ADC:string:adc2Name-->)</option>
				<option value="/adc3_config.html" >ADC3 (<!--#nvs:ADC:string:adc3Name-->)</option>
				<option value="/adc4_config.html" >ADC4 (<!--#nvs:ADC:string:adc4Name-->)</option>
				<option value="/adc5_config.html" >ADC5 (<!--#nvs:ADC:string:adc5Name-->)</option>
				<option value="/adc6_config.html" >ADC6 (<!--#nvs:ADC:string:adc6Name-->)</option>
				<option value="/adc7_config.html" >ADC7 (<!--#nvs:ADC:string:adc7Name-->)</option>
			</select>
		</form>
	</div>
</div>

<form action="" method="post">

	<h3>Message Routing</h3>
	<div class="inputBlock">
		<!--#components:routing:ADC-->
	</div>

	<button>Save Settings</button>
</form>

<!--#page:template_bottom_html-->