<!--#page:template_top_html-->
<h2>WiFi Configuration</h2>
<form action="" method="post">

	<h3>SSID</h3>
	<div class="inputBlock">
		<div class="input">
			<input type="text" name="nvs:WiFi:string:ssid" value="<!--#nvs:WiFi:string:ssid-->" >
		</div>
	</div>


	<h3>Key / Password</h3>
	<div class="inputBlock">
		<div class="input">
			<input type="password" name="nvs:WiFi:string:password" value="<!--#nvs:WiFi:string:password-->" >
		</div>
	</div>

	<h3>Idle Timeout</h3>
	<div class="inputBlock">
		<div class="input">
			<div class="m">
				<input type="text" name="nvs:WiFi:u32:idleTimeout" value="<!--#nvs:WiFi:u32:idleTimeout-->" >
			</div>
			<div class="r">Seconds</div>
		</div>
		<p class="info">
			How long to wait before disabling MQTT so it will never try to connect.<br>
			Used to save battery life.<br>
			0 = Keep MQTT connected even when its not being used.
			Device must be rebooted when this value is changed from 0.
		</p>
	</div>

<button>Save Settings</button>
</form>
<!--#page:template_bottom_html-->