<!--#page:template_top_html-->
<h2>WiFi Configuration</h2>
<form action="" method="post">

	<h3>SSID</h3>
	<div class="inputBlock">
		<div class="input">
			<input type="text" name="nvs:WiFi Client:string:ssid" value="<!--#nvs:WiFi Client:string:ssid-->" >
		</div>
	</div>


	<h3>Key / Password</h3>
	<div class="inputBlock">
		<div class="input">
			<input type="password" name="nvs:WiFi Client:string:password" value="<!--#nvs:WiFi Client:string:password-->" >
		</div>
	</div>

<button>Save Settings</button>
</form>
<!--#page:template_bottom_html-->