*{
	box-sizing: border-box;
}
html{
	height:100%;
}
body{
	font-family: Arial;
	color: #ede5ff;
	background-color:#262626;
	width:720px;
	height:100%;
	width:100%;
	min-width: 720px
}

body .left{
	width:33%;
	float:left;
	height:100%;
}
body > .left iframe{
	height:90%;
	width:100%;
	border:0;
	max-width: 280px;
	position: fixed;
    top: 0px;
}
body > .right{
	width: 66%;
	float: left;
	max-width: 800px;
	padding-left: 20px;
	margin-top: 59px;
	border-left: 1px solid #ede5ff;
}

textarea, input, select, button{
	background-color:#262626;
	color: #ede5ff;
	padding:0px;padding-left: 3px;
	margin:0px;
	border: 0;
	font-size: 14px;
	width:100%;
}

textarea{
	height: 100%;
}
input[type=checkbox]{
	width:auto;
}
button{
	margin-top:20px;
	width: auto;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
}
.info{
	font-size: 11px;
}
.input{
	padding: 3px;
	margin-bottom: -5px;
	border:1px solid #ffffff;
	border-radius: 5px;
	max-width: 300px;
	display: table;
}
.input > *{
	display: table-cell;
}
.input > .l{
	margin-right: 5px;
}
.input > .r{
	margin-left: 5px;
}

.roundTop .input{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.roundBotton .input{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.inputBlock{
	margin-left: 50px;
}