<!--#page:template_top_html-->
<h2>Display Configuration</h2>
<form action="" method="post">

	<h3>Template</h3>
	<div class="inputBlock">
		<div class="input" style="height:200px;width:400px;">
			<textarea name="nvs:Display:string:template"><!--#nvs:Display:string:template--></textarea><br>
		</div>
		<p class="info">
			Text entered here will be displayed on the OLED display<br>
			To display message values, use this format:<br>
			[DEVLICE:SENSOR]<br>
			e.g. [<!--#uniqueName-->:Battery] will show this devices battery voltage.<br>
			NOTE: Messages must be routed to this device's display before they show.<br>
		</p>
	</div>

	<button>Save Settings</button>
</form>
<!--#page:template_bottom_html-->