<!--#page:template_top_html-->
<h2>LoRa Configuration</h2>
<form action="" method="post">

	<h3>Frequency</h3>
	<div class="inputBlock">
		<div class="input">
			<div class="m">
				<input type="text" name="nvs:Radio:u32:sx1278Frequency" value="<!--#nvs:Radio:u32:sx1278Frequency-->" >
			</div>
			<div class="r">Hz</div>
		</div>
		<p class="info">
			For RX and TX.<br>
			NOTE: Check the specific frequency range your LoRa device supports<br>
		</p>
	</div>

	<h3>TX Sync Word</h3>
	<div class="inputBlock">
		<div class="input">
			<input type="text" name="nvs:Radio:u32:sx1278TXSync" value="<!--#nvs:Radio:u32:sx1278TXSync-->" >
		</div>
		<p class="info">
			Used to identify TX messages for your network<br>
			NOTE: Routers need to use the same TX sync word as sensor nodes RX sync word<br>
		</p>
	</div>

	<h3>RX Sync Word</h3>
	<div class="inputBlock">
		<div class="input">
			<input type="text" name="nvs:Radio:u32:sx1278RXSync" value="<!--#nvs:Radio:u32:sx1278RXSync-->" >
		</div>
		<p class="info">
			Used to identify RX messages for your network<br>
			NOTE: Routers need to use the same RX sync word as sensor nodes TX sync word<br>
		</p>
	</div>

	<h3>Encryption Key</h3>
	<div class="inputBlock">
		<div class="input" maxlength="16">
			<input type="text" name="nvs:Radio:string:sx1278Key" value="<!--#nvs:Radio:string:sx1278Key-->" >
		</div>
		<p class="info">
			Set this to encrypt and decrypt all messages sent over LoRa<br>
			Must be exactly 16 characters or less because I haven't done anything to create a hash<br>
		</p>
	</div>

	<h3>Message Routing</h3>
	<div class="inputBlock">
		<!--#components:routing:Radio-->
	</div>

	<button>Save Settings</button>
</form>
<!--#page:template_bottom_html-->